/* Give your page a fun background color */
 body{
    background-color: #80c9c7
 }
/* Make the header and footer a different color from the background */
header{
    background-color: #a0c9d0;
}
footer{
    background-color: #909090;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: #80c9c7;
    font-style: italic;
}
/* Put a border around your image */
    img{
        max-width:20%;
        height:auto;
        border: 8px solid black;
    }
/* Change the font-family of your list */
ul{
    font-family: Arial, Helvetica, sans-serif;
}